.header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    padding: 32px 0 32px 0;
    z-index: var(--layer-1);
    background-color: var(--bg-color);
    transition: all var(--transition-time);
}

.header--fixed {
    box-shadow: 0 0 20px var(--shadow-color);
}

.header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media (width>=768px) {
    /* min-width: 992px; max-width: 1440px; */
    .header__logo {
        margin-right: clamp(25px, -11.58rem + 21.21vw, 120px);
    }

    .header__menu {
        flex-grow: 1;
    }
}

@media (width<=768px) {
    .header__menu {
        position: fixed;
        right: 0;
        top: 0;
        bottom: 0;
        z-index: var(--layer-2);
        min-width: 297px;
        padding-top: 144px;
        padding-right: 15px;
        background-color: var(--bg-color);
        box-shadow: 0 0 20px var(--shadow-color);
        opacity: 0;
        visibility: hidden;
        transition: all var(--transition-time);
    }

    .header__menu--open {
        right: 0;
        opacity: 1; 
        visibility: visible;
    }

    .header__menu .menu__list {
        flex-direction: column;
        align-items: flex-end;
        text-align: end;
    }
}