@font-face {
  font-family: "Integral CF";
  src: local("Integral CF Regular"), local("Fontspring-DEMO-integralcf-regular"),
    url("../../fonts/Fontspring-DEMO-integralcf-regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Integral CF";
  src: local("Integral CF Bold"), local("Fontspring-DEMO-integralcf-bold"),
    url("../../fonts/Fontspring-DEMO-integralcf-bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Integral CF";
  src: local("Integral CF Heavy"), local("Fontspring-DEMO-integralcf-heavy"),
    url("../../fonts/Fontspring-DEMO-integralcf-heavy.otf") format("opentype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Satoshi";
  src: local("Satoshi Regular"), local("Satoshi-Regular"),
    url("../../fonts/Satoshi-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Satoshi";
  src: local("Satoshi Medium"), local("Satoshi-Medium"),
    url("../../fonts/Satoshi-Medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Satoshi";
  src: local("Satoshi Bold"), local("Satoshi-Bold"),
    url("../../fonts/Satoshi-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}